.main_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-mint);
}

.header {
  text-align: center;
}

.name_highlight {
}

.main_image {
  width: 50%;
}
