:root {
  --color-primary-blue: #2b3a55;
  --color-primary-pink: #ce7777;
  --color-secondary-pink: #e8c4c4;
  --clolor-light-pink: #f2e5e5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* sg modified */
  background-color: var(--clolor-light-pink);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
